TELEGRAM_BOT_TOKEN=1234567890:replace_me
ALLOWED_CHAT_ID=123456789
WORKSPACE_ROOT=/data/data/com.termux/files/home
CODEX_MODEL=gpt-5.4
POLL_TIMEOUT_SECONDS=10
COMMAND_TIMEOUT_SECONDS=120
CODEX_TIMEOUT_SECONDS=900
MAX_FILE_CHARS=24000
MAX_OUTPUT_CHARS=6000
